/* Button used to open the contact form - fixed at the bottom of the page */
.AdminBody{
    position: absolute;
}
.form-container h1{
    margin-top: 10px;
    font-size: 35px;
    color: #008FEF;
    background-color: #FFD21D;
    width: 150px;
    padding: 5px 20px;
    margin-left: 20px;
    border-radius: 50px 0;
    margin-bottom: 30px;
    font-style: italic;
  }
  /* The popup form - hidden by default */
  #adminForm {
    display: none;
    position: fixed;
    
    border: transparent;
    z-index: 9;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    
    width: 700px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 800px;
    height : 550px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #e3e3d7;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus{
    background-color: rgb(241, 241, 241);
    outline: none;
    border-bottom: 1px solid #008FEF;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #008FEF;
    color: white;
    height: 50px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-bottom: 10px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  #Posting{
    width: 200px;
    margin-top: 60px;
    margin-left: 90px;
  }

  #cancel{
    width: 200px;
    margin-left: 80px;
    margin-top: 60px;
   }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 2;
  }

#adminForm label {
    padding-right: 20px;
    padding-left: 20px;
  }

  .adminId{
    width: 450px;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  .adminFirstName{
    width: 450px;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .adminLastName{
    width: 450px;
    height: 30px;
    margin-left: 43px;
    margin-bottom: 10px;
  }

  .adminMiddleName{
    width: 450px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .adminCourse{
    width: 450px;
    height: 30px;
    margin-left: 70px;
    margin-bottom: 10px;
  }

  .adminEmail{
    width: 450px;
    height: 30px;
    margin-left: 80px;
    margin-bottom: 10px;
  }

  .adminPassword{
    width: 250px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

input{
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(241, 241, 241);
}

.Admin{
    border-radius: 5px;
    margin: 1px;
    
    display: inline-flex;
    justify-content: center;
    margin-right: 20px;
    gap: 5px;
}

.form-container #generatePassword{
    background-color: yellowgreen;
    height: 5px;
    padding-bottom: 30px;
    margin-right: 100px;
}


