.Adminbody{
    background-color: #F6F6EF;
    width: auto;
    }
    
#admin_text{
    color: #025bab; 
    font-size: 45px; 
    font-weight: bold;
    font-style: italic;
    text-decoration:underline;
    margin-left: 110px; 
    margin-top: 50px; 
    position: absolute; 
    transform: translate(-50%, -50%);
    background-color:#FFD21D;
    padding: 5px 25px 5px 20px;
    border-radius: 60px 0 50px 0;
    }

#admin_text_2{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 50%;
}

#admin_text_acc{
    color: #025bab; 
    font-size: 35px; 
    font-weight: bold;
    margin-left: 50px;
}

#table-container{
    border: solid 1px #000000;
    border-radius: 0 20px 20px 20px;
    height: 600px;
    width: 1480px;
    background-color: #D9D9D9;
    margin-left: 20px;
    position: absolute;
    box-shadow: 5px 5px 5px rgb(159, 158, 158);
}

#table-container2{
    border: solid 1px #000000;
    border-radius: 0 20px 20px 20px;
    height: 600px;
    width: 1480px;
    background-color: #cccbcb;
    margin-left: 20px;
    position: absolute;
    box-shadow: 5px 5px 5px rgb(159, 158, 158);
}

#dynamic_id_list{
    width: 100%;
    padding-right: 20%;
}

#dynamic_id_list td{
    color: #000000; 
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: white;
}

#remove_row_color{
    color: white;
}

#disable_row_color{
    border-radius: 0 20px 0 0;
}

#dynamic_id_list th{
    font-size: 20px;
    color: #025bab; 
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #FFD21D;
}

#buttons_admin{
    background-color: #ECF1F4;
    width: 150px;
}
#buttons_admin2{
    background-color: #ECF1F4;
    width: 150px;
}

#delete_button{
    border: none;
    padding: 5px 15px;
    background: none;
    font-size: 24px;
    color: #025bab; 
    font-weight: bold;
    border-radius: 6px;
    background-color: #FFD21D;
    transition: all 0.2s ease;
    text-decoration: none;
}

#delete_button:active{
    transform: scale(0.96);
}

#disable_button{
    border: none;
    padding: 5px 15px;
    background: none;
    font-size: 24px;
    color: #025bab; 
    font-weight: bold;
    border-radius: 6px;
    background-color: #FFD21D;
    transition: all 0.2s ease;
}
#disable_button:active{
    transform:scale(0.96)
}

#add_button_container{
    position: absolute;
    margin-left: 1300px;
    margin-top: 35%;
    padding-bottom: 50px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#add_button_style{
    background-color:  #008FEF;
    border: none;
    width: 150px;
    height: 55px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    transition: all 0.2s ease;
    margin-bottom: 10%;
    display: fixed;
    box-shadow: 5px 5px 5px rgb(159, 158, 158);
}

#add_button_style:hover{
    -webkit-box-shadow: 0px 0px 15px 0px #222aff;
    -moz-box-shadow: 0px 0px 15px 0px #00bbee;
    box-shadow: 0px 0px 15px 0px #0071d4;
    animation: animate 8s ease infinite;
    transition: box-shadow, 0.4s;
    border: none;
    font-size: 30px;
    transform: scale(1.05, 1.05);
    background: linear-gradient(90deg, #014887, #2298ff, #222aff, #007fee);
    background-size: 400%;
    animation: animate 7s cubic-bezier(0.75, 0.75, 0.75, 0.75) infinite,
}

#add_button_style:active{
    transform: scale(0.96);
}

#icon_plus_circle_fill_style{
    color: white; 
    font-size: 25px; 
    margin-left: 10px;
}

#adminForm{
    position: relative;
    left: 5%;
    top: 18%;
    box-sizing: border-box;
} 

.alert .alert {
    width: 450px;
    display: flex;
    align-items: flex-end;
    top: 600px;
}

/*btn sa taas student/teacher*/
.btn__student{
    margin-left: 20px;
    border: solid 1px #000000;
    background-color: #FFD21D;
    border-top-right-radius: 80px;
    border-top-left-radius: 20px;
    width: 200px;
    transition: ease 0.5s;
}

.btn__student h4 {
    text-decoration: none;
    color:#025bab;
}

.btn__teacher{
    border: solid 1px #000000;
    background-color: #FFD21D;
    border-top-right-radius: 80px;
    border-top-left-radius: 20px;
    width: 200px;
    transition: ease 0.5s;
}

.btn__teacher h4 {
    text-decoration: none;
    color:#025bab;
}

.btn__student:hover{
    border: solid 1px #000000;
    background-color: #ffe11d;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 250px;
    transition: ease 0.5s;
    letter-spacing: 2px;
    font-weight: 700;
}

.btn__teacher:hover{
    border: solid 1px #000000;
    background-color: #ffe11d;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 250px;
    transition: ease 0.5s;
    letter-spacing: 2px;
}