.Adminbody{
    background-color: #F6F6EF;
    width: auto;
    }
    
#admin_text{
    color: #025bab; 
    font-size: 45px; 
    font-weight: bold;
    font-style: italic;
    text-decoration:underline;
    margin-left: 100px; 
    margin-top: 50px; 
    position: absolute; 
    transform: translate(-50%, -50%);
    background-color:#FFD21D;
    padding: 5px 25px 5px 20px;
    border-radius: 60px 0 50px 0;
    }

#admin_text_2{
    margin-top: 130px;
    width: 50%;
}

#admin_text_acc{
    color: #696969 ; 
    font-size: 35px; 
    font-weight: bold;
    margin-left: 60px; 
    margin-bottom: 15px;
}

#table-container{
    border: solid 1px #000000;
    border-radius: 0 0 20px 20px;
    height: 600px;
    width: 1480px;
    background-color: #D9D9D9;
    margin-left: 20px;
    position: absolute;
}

#dynamic_id_list{
    width: 100%;
    padding-right: 20%;
}

#dynamic_id_list td{
    color: #000000; 
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: white;
}

#remove_row_color{
    color: white;
}

#disable_row_color{
    color: white;
}

#dynamic_id_list th{
    font-size: 20px;
    color: #025bab; 
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #FFD21D;
}

#buttons_admin{
    background-color: #ECF1F4;
    width: 150px;
}
#buttons_admin2{
    background-color: #ECF1F4;
    width: 150px;
}

#delete_button{
    border: none;
    padding: 5px 15px;
    background: none;
    font-size: 24px;
    color: #025bab; 
    font-weight: bold;
    border-radius: 6px;
    background-color: #FFD21D;
    transition: all 0.2s ease;
    text-decoration: none;
}

#delete_button:active{
    transform: scale(0.96);
}

#disable_button{
    border: none;
    padding: 5px 15px;
    background: none;
    font-size: 24px;
    color: #025bab; 
    font-weight: bold;
    border-radius: 6px;
    background-color: #FFD21D;
    transition: all 0.2s ease;
}
#disable_button:active{
    transform:scale(0.96)
}

#add_button_container{
    position: absolute;
    margin-left: 1350px;
    margin-top: 41%;
    margin-bottom: 15%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#add_button_style{
    background-color:  #008FEF;
    border: none;
    width: 150px;
    height: 55px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    transition: all 0.2s ease;
    margin-bottom: 10%;
    display: fixed;
}

#add_button_style:active{
    transform: scale(0.96);
}

#icon_plus_circle_fill_style{
    color: white; 
    font-size: 25px; 
    margin-left: 10px;

}

#adminForm{
    position: relative;
    left: 5%;
    top: 18%;
    box-sizing: border-box;
} 

.alert .alert {
    width: 450px;
    display: flex;
    align-items: flex-end;
    top: 600px;
}